.linkContainer a {
  color:#FFFFFF;
  text-decoration: none;
} 

.linkContainer a:hover {
  color:lightslategray;
  text-decoration: none;
} 

code {
  color: #E01A76;
}

.showButton {
  width: auto;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color:#a0a0a0;
}

.linkFormPanel {
  height: 10%;
  border-radius: 5px;
  background-color: orange;
  padding: 1%;
}

.rightPanel {
  background-color: grey;
  padding: 1%;
}

.mItem {
  color:white;
  width: auto;
  text-decoration: none;
}

.menu {
  display: flex;
  background-color: black;
  text-decoration: none;
  height: 40px;
}

.menuItem {
  padding:5px;
  color: white;
}

.menuUser {
  top:0;
  right:1%;
  position: absolute;
  margin: 5px;
  color: white;
  float:right;
}

.menuItem:hover {
  padding:5px;
  background-color:orange;
  color:black;
}

.linkContainer {
  margin: 4px;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 20px;
  background-color:#a0a0a0;
}

.linkContainerHeader, .addTagContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tagContainer {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.linkContainerItem {
  margin-right: 3px;
}

.loginContainer {
  display: flex;
  flex-direction: row;
  background-color: orange;
  margin: 50%;
}

.innerLoginContainer {
  background-color: orange;
}

.customButton {
  border-style: none;
  color:red;
  background-color: none;
  background: none;
  padding:0;
  margin:2px;
}

.tagContainer {
  display:flex;
  flex-direction:row;
}

.tagForm {
  display:flex;
  flex-direction:row;
}

